 # Python Data Science Excercise
 ## Part 3

Import panda ,numpy and mathplotlib

In [15]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load countries.csv

In [16]:
url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
df_countries = pd.read_csv(url)
df_countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Display some basic information and some basic statistical info

Show the last 4 rows of the data frame

In [17]:
df_countries.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Show all the row of countries who have the EURO

In [18]:
df_countries[df_countries['Currency']=='EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

Show only name and Currency in a new data frame

In [20]:
df_c2 = df_countries.drop(['People', 'Area', 'BIP'], axis=1)
df_c2

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

In [21]:
df_countries[df_countries['BIP']>2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

Select all countries where with inhabitants between 50 and 150 Mio

In [23]:
df_countries[(50000000<df_countries['People']) & (df_countries['People']<150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

Change BIP to Bip

In [25]:
df_countries = df_countries.rename(columns= {'BIP':'Bip'})
df_countries

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Calculate the Bip sum

In [32]:
bip_sum = df_countries['Bip'].sum()
bip_sum

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

13581

Calculate the average people of all countries

In [33]:
sum_people = df_countries['People'].sum()
number_of_countries = len(df_countries)
average_sum_people = sum_people / number_of_countries
average_sum_people

102786293.6

Sort by name alphabetically

In [34]:
df_countries = df_countries.sort_values('Name')
df_countries

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [57]:
df_c_change_area = df_countries.copy()
print(df_c_change_area)
df_c_change_area['Area'].mask(df_c_change_area['Area'] <= 1000000, 'BIG', inplace=True)


print(df_c_change_area)

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN
       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653      BIG  3466      EUR
3     Italy   60501718      BIG  1850      EUR
1     Japan  126045000      BIG  4938      YEN