 # Python Data Science Excercise
 ## Part 3

Import panda ,numpy and mathplotlib

In [15]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load countries.csv

In [16]:
url = "https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/countries.csv"
df_countries = pd.read_csv(url)
df_countries

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Display some basic information and some basic statistical info

In [76]:
df_countries.info()
print("---------------------------------------------------------------")
df_countries.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 4 to 1
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      5 non-null      object
 1   People    5 non-null      int64
 2   Area      5 non-null      int64
 3   Bip       5 non-null      int64
 4   Currency  5 non-null      object
dtypes: int64(3), object(2)
memory usage: 400.0+ bytes
---------------------------------------------------------------

             People          Area         Bip
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

Show the last 4 rows of the data frame

In [17]:
df_countries.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Show all the row of countries who have the EURO

In [18]:
df_countries[df_countries['Currency']=='EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

Show only name and Currency in a new data frame

In [20]:
df_c2 = df_countries.drop(['People', 'Area', 'BIP'], axis=1)
df_c2

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

In [21]:
df_countries[df_countries['BIP']>2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

Select all countries where with inhabitants between 50 and 150 Mio

In [23]:
df_countries[(50000000<df_countries['People']) & (df_countries['People']<150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

Change BIP to Bip

In [25]:
df_countries = df_countries.rename(columns= {'BIP':'Bip'})
df_countries

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Calculate the Bip sum

In [32]:
bip_sum = df_countries['Bip'].sum()
bip_sum

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

13581

Calculate the average people of all countries

In [33]:
sum_people = df_countries['People'].sum()
number_of_countries = len(df_countries)
average_sum_people = sum_people / number_of_countries
average_sum_people

102786293.6

Sort by name alphabetically

In [34]:
df_countries = df_countries.sort_values('Name')
df_countries

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [73]:
df_c_change_area = df_countries.copy()
print(df_c_change_area)
df_c_change_area.loc[(df_c_change_area.Area > 1000000 ),'Area']='BIG'
df_c_change_area[df_c_change_area['Area']!='BIG'].loc[(df_c_change_area.Area <= 1000000 ),'Area']='SMALL'
print(df_c_change_area)

       Name     People     Area   Bip Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

TypeError: '<=' not supported between instances of 'str' and 'int'

In [72]:
print(df_c_change_area[df_c_change_area['Area']!='BIG'])

print(df_c_change_area)

      Name     People    Area   Bip Currency
0  Germany   82521653  357385  3466      EUR
3    Italy   60501718  301338  1850      EUR
1    Japan  126045000  377835  4938      YEN
       Name     People    Area   Bip Currency
4  Brazilia  208360000     BIG  1798     REAL
2    Canada   36503097     BIG  1529      CAD
0   Germany   82521653  357385  3466      EUR
3     Italy   60501718  301338  1850      EUR
1     Japan  126045000  377835  4938      YEN